invert-color()
  invert(arguments)

hover-color()
  color: invert(@color)
  background-color: invert(@background-color)
  outline-color: invert(@outline-color)

form.upload 
  width: 50% 
  margin: auto
  padding: 50px
  color: black
  background-color: pink
  outline: 2px dashed
  outline-color: black
  outline-offset: -10px

  &:hover
    hover-color()

  .upload-input 
    text-align: center
  
    input
       width: 0.1px
       height: 0.1px
       opacity: 0
       overflow: hidden
       position: absolute
       z-index: -1

    strong 
      cursor: pointer

  .status-files,
  .status-uploading,
  .status-success,
  .status-error 
    display: none
